name: build_nginx_static

on:
    workflow_dispatch:


jobs:        
  build_nginx_static_binary:
    name: build_nginx_static_binary
    continue-on-error: true
    strategy:
      matrix:
        target:
          - id: 'linux-amd64'
            os: 'ubuntu-latest'
          - id: 'linux-aarch64'
            os: 'ubuntu-24.04-arm'  ## failed

    runs-on: ${{ matrix.target.os }}    

    steps:
      - name: Check out the code
        uses: actions/checkout@v4
        with:
            fetch-depth: 2

      - name: Install `deps` on Ubuntu
        if: startsWith(matrix.target.id, 'linux-')
        shell: bash
        run: |
          sudo apt install ninja-build build-essential binutils autoconf automake tree clang cmake coreutils libidn2-0-dev pkg-config -y
          echo "cpu core num is "
          nproc

      - name: Setup nginx user and group
        run: |
            set -euo pipefail   # 出错就停止
            echo "创建/确认 nginx 组..."
            sudo groupadd -f nginx
            echo "创建 nginx 系统用户..."
            sudo useradd -r -M -s /sbin/nologin -g nginx -c "Nginx web server user" nginx || true
            echo "当前 nginx 用户信息："
            id nginx
            echo "主组：$(groups nginx | awk '{print $1}')"    
    
      - name: build server
        shell: bash
        run: |
          sudo bash scripts/build_nginx_static.sh
     
      - name: show layouts
        shell: bash
        run: |
            tree -L 2
            ls -al
           
      
      - name: strip binary
        shell: bash
        run: |
            readelf ${{ github.workspace }}/local/nginx/sbin/nginx -a | grep "NEEDED"
            file ${{ github.workspace }}/local/nginx/sbin/nginx
            strip ${{ github.workspace }}/local/nginx/sbin/nginx
            file ${{ github.workspace }}/local/nginx/sbin/nginx
            tar -zcf nginx_static_binary-${{ matrix.target.id }}.tar.gz -C ${{ github.workspace }}/local/nginx
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nginx_static_binary-${{ matrix.target.id }}.tar.gz
          path: nginx_static_binary-${{ matrix.target.id }}.tar.gz
          if-no-files-found: error
          retention-days: 1

  